In [2]:
import pandas as pd

In [1]:
low_coverage_orders = ["MACROSCELIDEA","LAGOMORPHA","CHIROPTERA","RODENTIA",
                       "AFROSORICIDA","DIDELPHIMORPHIA","EULIPOTYPHLA","SCANDENTIA", "CINGULATA",
                       "DERMOPTERA","HYRACOIDEA","MICROBIOTHERIA","MONOTREMATA","NOTORYCTEMORPHIA", 
                       "PAUCITUBERCULATA","PHOLIDOTA","PILOSA","SIRENIA","TUBULIDENTATA"]

In [ ]:
results_df = pd.read_csv('')

In [ ]:
results_df = result_df.assign(arith_mean_pop = 
                              arith_mean_mass
                             geo_mean_pop = 
                             geo_mean_mass = )

In [31]:
all_data= pd.read_csv('to_predict_lior.csv')
len(all_data)

4519

In [32]:
training= pd.read_csv('santini_predictions_by_eyal.csv')
len(training)

4268

In [33]:
to_predict = list(set(all_data.binomial)-set(training.Binomial))

In [34]:
len(to_predict)

251

In [35]:
all_data[all_data.binomial.isin(to_predict)].to_csv('missing_tetra_density_species.csv')

In [36]:
all_data

,Unnamed: 0,binomial,Range,AdultBodyMass_g,Red List status,TrophicLevel,Order
0,0,Abditomys latidens,7.882273e+02,268.09,DD,Herbivore,RODENTIA
1,1,Abeomelomys sevia,9.683637e+03,54.88,LC,Omnivore,RODENTIA
2,2,Abrawayaomys ruschii,5.073468e+04,62.99,LC,Omnivore,RODENTIA
3,3,Abrocoma bennettii,1.248960e+05,250.50,LC,Herbivore,RODENTIA
4,4,Abrocoma boliviensis,6.473921e+01,158.00,CR,Herbivore,RODENTIA
...,...,...,...,...,...,...,...
4514,4903,Zygodontomys brevicauda,1.694720e+06,52.22,LC,Herbivore,RODENTIA
4515,4904,Zygodontomys brunneus,7.573770e+04,75.59,LC,Herbivore,RODENTIA
4516,4905,Zygogeomys trichopus,2.248715e+03,473.54,EN,Herbivore,RODENTIA
4517,4906,Zyzomys argurus,1.188571e+06,40.42,LC,Omnivore,RODENTIA
4518,4910,Zyzomys woodwardi,3.559928e+04,95.02,LC,Herbivore,RODENTIA